[submodule "db"]
	path = db
	url = https://github.com/dsd-db/collect.git
[submodule "algo"]
	path = algo
	url = https://github.com/PenGuln/furia.git
[submodule "w2l"]
	path = w2l
	url = https://github.com/dsd-db/collect-w2l-windows.git
